<div class="container">
    <div class="row justify-center align-item-center menu-section">
        <app-slider-menu></app-slider-menu>
    </div>
    <div class="row">
        <select>
            <option value="angular">Angular</option>
            <option value="reactjs">Reactjs</option>
            <option value="vuejs">Vuejs</option>
        </select>
    </div>
    <div class="row">
        <div class="col" *ngFor="let post of posts">
            <app-news-card [info]="post"></app-news-card>
        </div>
    </div>
</div>